.navList {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  place-items: center; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: 60%;
  padding: 0 20px;
}

.navItem {
  font-family: "Source Sans Pro", sans-serif;

  font-size: 20px;
  text-align: center;
  color: #f5ebeb;
}

.closeBtn {
  /* position: absolute;
  transform: translate(700%, 20%);
  border: none;
  background-color: transparent; */
  position: absolute;
  z-index: 10000;
  border: none;
  right: 16px;
  top: 116px;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.mobNav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1001;
}

.mobNav.active {
  transform: translateX(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
