.order {
  padding-bottom: 100px;
}

.orderTitle {
  position: relative;
  font-weight: 600;
  line-height: 1.2;
  font-size: 32px;
  color: #a93b59;
}

.border {
  position: absolute;
  transform: translate(-5%, 50%);
  max-width: 350px;
}

.orderTitleWrap {
  margin-bottom: 24px;
}

.orderSub {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 24px;
}

.orderSpan {
  font-weight: 600;
  color: #f5ebeb;
}

.orderLowSub {
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 24px;
  text-align: right;
}

.listWrap {
  display: flex;
  gap: 32px;
  align-items: center;
}

.listText {
  font-family: "Source Sans Pro", sans-serif;

  font-weight: 400;
  font-size: 12px;
}

.listSpan {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.checkIcon {
  flex-shrink: 0;
}
