.order {
  padding-bottom: 100px;
}

.orderTitle {
  position: relative;
  font-weight: 600;
  line-height: 1;
  font-size: 32px;
  color: #a93b59;
}

.border {
  position: absolute;
  transform: translate(-5%, 50%);
  max-width: 350px;
}

.borderOrderDesk {
  display: none;
}

.orderTitleWrap {
  margin-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
}

.orderSub {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 24px;
  padding-left: 16px;
  padding-top: 16px;
}

.orderSpan {
  font-weight: 600;
  color: #f5ebeb;
}

.orderLowSub {
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 24px;
  text-align: right;
  padding-right: 16px;
}

.listWrap {
  display: flex;
  gap: 32px;
  align-items: center;
}

.listText {
  font-family: "Source Sans Pro", sans-serif;

  font-weight: 400;
  font-size: 12px;
}

.listSpan {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.checkIcon {
  flex-shrink: 0;
  fill: #822740;
}

.orderWrap {
  background: rgba(185, 106, 127, 0.7);
}

.managerInfo {
  padding-left: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 1440px) {
  .order {
    padding-bottom: 121px;
    background-image: url(../../img/Order/order_bcg.png);
    background-size: 776px 1104px;
    background-repeat: no-repeat;
    padding-top: 10px;
    z-index: 999;
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi) {
    .order {
      background-image: url(../../img/Order/order_bcg_2x.png);
    }
  }

  .orderTitle {
    font-size: 36px;
    padding-left: 60px;
    line-height: 0.3;
  }

  .orderTitleWrap {
    margin-bottom: 140px;
    padding-left: 0;
    padding-right: 0;
  }

  .border {
    display: none;
  }

  .borderOrderDesk {
    display: unset;
  }

  .orderSub {
    font-size: 32px;
    margin-bottom: 40px;
    padding-top: 36px;
  }
  .orderWrap {
    display: flex;
    padding-bottom: 86px;
    gap: 306px;
  }
  .orderFormWrap {
    padding-left: 119px;
    display: flex;
    flex-direction: column;
  }
  .orderLowSub {
    margin-top: 36px;
    text-align: left;
    font-size: 32px;
    margin-bottom: 39px;
  }
  .listText {
    font-size: 14px;
    max-width: 294px;
    line-height: 1.8;
  }
  .listSpan {
    font-size: 16px;
  }

  .checkIcon {
    width: 33px;
    height: 25px;
  }
  .managerList {
    display: flex;
    gap: 18px;
    flex-direction: column;
  }
  .managerInfo {
    padding-left: 0px;
  }
}
