/* .swiper-slide {
  width: 240px;

  margin-right: 100px;
}

.swiper-slide-active {
  transform: scale(1);
  opacity: 1;
}

.swiper {
  overflow: visible;
  margin-right: 80px;
  margin-left: 60px;
}

.productSwiper {
  width: 100%;
  height: 500px;
  margin: 0 auto;

  padding-right: 60px;
  padding-left: 60px;
  box-sizing: border-box;
} */

.hitsSwiper {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  padding-right: 60px;
  padding-left: 60px;
  box-sizing: border-box;
}

.hitsSwiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  margin-right: 100px;
}

.hitsSwiper .swiper-slide-active {
  transform: scale(1);
  opacity: 1;
}

.hitsSwiper .productCardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
