/* .hero {
  max-width: 490px;
  height: 524px;
  padding-bottom: 96px;

  background-image: url(../../img/Hero/hero.png);
  background-size: cover;

  margin-left: auto;
} */

.hero {
  position: relative;
  max-width: 490px;
  height: 424px;
  padding-bottom: 96px;
  background-image: url(../../img/Hero/hero.png);
  background-size: cover;

  background-position: right center;
  margin-left: auto;
  margin-right: auto;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1;
  transform: translate(0, 390px);
  height: 240px;
}

.heroWrap {
  position: relative;
  z-index: 2;
  transform: translate(2%, 180%);

  /* padding: 20px; */
  width: 100%;
  height: 239px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi) {
  .hero {
    background-image: url(../../img/Hero/hero-2x.png);
  }
}

.heroTitle {
  font-family: "Playfair Display", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  max-width: 355px;
  line-height: 1.33;
  line-height: 2.4;

  color: #a93b59;
}

.heroSpan {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: #f5ebeb;
}

.titleText {
  display: none;
}

.heroLinkBtn {
  display: block;
  background-color: #a93b59;
  border-radius: 15px;
  padding: 16px 32px;
  max-width: 330px;
  height: 55px;
  font-family: "Source Sans Pro", sans-serif;

  font-size: 18px;
  text-align: center;
  color: #f5ebeb;
}

.heroIconsWrap {
  position: relative;
  display: flex;
  gap: 40px;
  transform: translate(2%, 120%);
}

.hIW {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.heroText {
  font-family: "Source Sans Pro", sans-serif;

  font-size: 12px;

  text-align: center;
  max-width: 80px;
}

.deskSpan {
  display: none;
}

@media screen and (min-width: 1440px) {
  .hero {
    position: unset;
    max-width: 768px;
    height: 640px;
    padding-bottom: 44px;
    margin-right: unset;

    background-image: url(../../img/Hero/hero-desk.png);
    background-size: cover;
    background-position: center center;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi) {
    .hero {
      background-image: url(../../img/Hero/hero-desk-2x.png);
    }
  }
  .hero::after {
    content: unset;
  }

  .heroTitle {
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    max-width: 860px;
    line-height: 1.85;

    color: #a93b59;
    transform: translate(-104%, -20%);
  }

  .heroSpan {
    font-size: 86px;
    text-align: center;
    line-height: 0.7;
    margin-left: 140px;
  }
  .heroWrap {
    transform: translate(25%, -6%);

    width: 860px;
    height: 239px;
  }

  .heroLinkBtn {
    position: relative;
    max-width: 449px;
    height: 62px;
    padding: 20px;
    transform: translate(-176%, 60%);
  }
  .titleText {
    display: unset;
    position: absolute;
    font-family: "Source Sans Pro", sans-serif;
    transform: translate(-174%, -140%);
    font-size: 24px;
  }

  .heroText {
    font-family: "Source Sans Pro", sans-serif;

    font-size: 16px;

    text-align: center;
    max-width: 201px;
  }

  .deskSpan {
    display: unset;
  }

  .heroIconsWrap {
    position: relative;
    display: flex;
    gap: 124px;
    transform: translate(-80%, 540%);
  }

  .heroIcon {
    width: 34px;
    height: 34px;
  }
}
