.aboutUs {
  padding-bottom: 80px;
}

.aboutTitleWrap {
  margin-bottom: 24px;
}

.aboutTitle {
  position: relative;
  font-weight: 600;
  line-height: 1;
  font-size: 32px;
  color: #a93b59;
  margin-left: 24px;
}

.aboutTitle:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 104%;
  background-color: #a93b59;
}

/* .border {
  position: absolute;
  transform: translate(5%, 50%);
  max-width: 350px;
} */

.aboutSub {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 8px;
}

.aboutText {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  margin-bottom: 16px;
}

.aboutSpan {
  font-weight: 700;
}

.aboutImg {
  border-radius: 15px;
  margin-bottom: 8px;
}

@media screen and (min-width: 1440px) {
  .aboutUs {
    padding-bottom: 132px;
  }
  .aboutTitleWrap {
    margin-bottom: 140px;
  }
  .aboutTitle {
    font-family: "Playfair Display", sans-serif;

    font-size: 36px;
    display: flex;
    justify-content: end;
  }
  .aboutTitle:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 76%;
    height: 2px;
    width: 29%;
    background-color: #a93b59;
  }
  .aboutSub {
    font-size: 32px;
    margin-bottom: 16px;
  }
  .aboutText {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0;
    max-width: 526px;
  }
  .aboutSpan {
    font-weight: 600;
  }
  .aboutImg {
    margin-bottom: 0px;

    width: 659px;
    height: 477px;
  }
  .aboutDeskWrap {
    display: flex;
    align-items: center;
    gap: 120px;
  }
  .aboutItem {
    display: flex;

    align-items: center;
  }

  .aboutItem.reverse .aboutDeskWrap {
    flex-direction: row-reverse;
  }
}
