.clients {
  position: relative;
}

.clientTitleWrap {
  margin-bottom: 24px;
}

.clientTitle {
  position: relative;
  font-weight: 600;
  line-height: 1;
  font-size: 32px;
  color: #a93b59;
  margin-left: 24px;
}

.border {
  position: absolute;
  transform: translate(7%, 50%);
  max-width: 350px;
}

@media screen and (min-width: 1440px) {
  .clientTitle {
    font-size: 36px;
    display: flex;
    justify-content: end;
    margin-right: 204px;
  }
  .border {
    transform: translate(178%, 50%);
    max-width: 494px;
  }
}
