.clientDeskSlideImage {
  width: 323px !important;
  height: 358px !important;
}

.clientDeskSlide {
  width: 349px !important;
}

.clientDeskSwiper {
  position: relative;
  width: calc(95% - 0px) !important;

  /* overflow: visible; */
}

/* .customPrev {
  position: absolute;
  transform: translate(50%, -50%);
  z-index: 100;
} */

.customPrev,
.customNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  cursor: pointer;

  pointer-events: auto;
}

.customPrev {
  left: -10px;
}

.customNext {
  right: -10px;
}
