.clients {
  position: relative;
  padding-bottom: 125px;

  width: 100%;
  background-image: url("../../img/Clients/client_bcg.png");
  background-size: 390px;
  background-repeat: no-repeat;
  background-position: bottom;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi) {
  .clients {
    background-image: url(../../img/Clients/client_bcg_2x.png);
  }
}

.clients::after {
  content: "";
  position: absolute;
  bottom: -120px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #a93b59;
}
.clientTitleWrap {
  margin-bottom: 24px;
}

/* .clientTitle {
  position: relative;
  font-weight: 600;
  line-height: 1;
  font-size: 32px;
  color: #a93b59;
  margin-left: 24px;
}

.border {
  position: absolute;
  transform: translate(7%, 50%);
  max-width: 350px;
} */

.clientTitleWrap {
  position: relative;
}

.clientTitle {
  position: relative;
  font-weight: 600;
  line-height: 1;
  font-size: 32px;
  color: #a93b59;
  margin-left: 24px;
}

.clientTitle::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 110%;
  background-color: #a93b59;
}

@media screen and (min-width: 1440px) {
  .clients {
    background-image: unset;
    padding-bottom: unset;
  }

  /* .clientTitle {
    font-size: 36px;
    display: flex;
    justify-content: end;
    margin-right: 204px;
  }

  .clientTitleWrap {
    margin-bottom: 140px;
  } */

  .clientTitle {
    font-size: 36px;
    display: flex;
    justify-content: end;
    margin-right: 204px;
  }

  .clientTitleWrap {
    margin-bottom: 140px;
  }

  .clientTitle::after {
    bottom: -4px; /* Збільшуємо відстань між заголовком і бордером на великих екранах */
    width: 46%;
    left: 79%; /* Зменшуємо ширину бордеру на десктопах */
  }
}
