.actionArea {
  display: flex;

  align-items: center;
  gap: 10px;
  justify-content: center;
}

.quantityInput {
  width: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.orderButton {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;

  line-height: 2;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  padding: 0px 10px;
  width: 100px;
  background-color: #a93b59;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.orderButton:hover {
  background-color: #d48888;
  color: #fff;
}

.btn {
  border: 1px solid #e6e6e6;
  padding: 2px 8px;
  background-color: transparent;
  color: black;
  flex-shrink: 1;

  border-radius: 4px;

  font-size: 14px;
}

.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media screen and (min-width: 1440px) {
  .quantityInput {
    width: 50px;
  }
  .orderButton {
    font-weight: 600;
    font-size: 16px;

    width: 116px;
  }

  .btn {
    padding: 5px 10px;

    font-size: 14px;
  }
}
