.header {
  padding-top: 32px;
}

.headWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  border: none;
  background-color: transparent;
  padding: 0;
}

.headSearchButton {
  border: none;
  background-color: transparent;
  padding: 0;
}

.headSearchIcon {
  stroke: white;
}

.burgerIcon {
  fill: white;
  stroke: white;
}

.headBtnWrap {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media screen and (min-width: 390px) {
}

@media screen and (min-width: 1440px) {
  .headBtnWrap {
    display: none;
  }
  .header {
    padding-top: 64px;
    padding-bottom: 109px;
  }
}
