.footer {
  padding-top: 152px;
  padding-bottom: 40px;
}

.footWrap {
  display: flex;
  justify-content: space-between;
}

.contactsDeskWrap {
  display: none;
}

.navItem {
  font-family: "Source Sans Pro", sans-serif;

  font-size: 12px;
  margin-bottom: 4px;
}

.navItem:first-child {
  font-size: 18px;
  font-variant: small-caps;
}

.contactsList {
  padding: 0;
}
.subTitle {
  font-family: "Source Sans Pro", sans-serif;

  font-size: 14px;

  text-align: center;
  margin: 0;
}
.text {
  font-size: 12px;
  text-align: center;
  margin-block-start: 0.5em;
}
.phone {
  fill: #a93b59;
}
.contactsWrap {
  margin-bottom: 16px;
}
.botWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialList {
  display: flex;
  gap: 16px;
}

.headLogoDesk {
  display: none;
}

@media screen and (min-width: 1440px) {
  .footer {
    padding-top: 192px;
    margin-left: 112px;
    margin-right: 54px;
  }
  .footDeskWrap {
    display: flex;
    justify-content: space-between;
  }

  .contactsDeskWrap {
    display: block;
  }

  .navItem {
    font-size: 20px;
    margin-bottom: 32px;
  }

  .navItem:first-child {
    font-size: 20px;
  }
  .botWrap {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    gap: 32px;
  }
  .socialList {
    gap: 46px;
  }
  .headLogo {
    display: none;
  }

  .headLogoDesk {
    display: unset;
  }

  .socialIcon {
    width: 40px;
    height: 40px;
  }
  .contactsWrap {
    display: none;
  }

  .subTitle {
    font-size: 24px;
  }

  .text {
    font-size: 20px;
  }
}
